{% include 'header.html' %}
{% load static %}
	
	<div class="page-content bg-white">

        		<!-- Banner -->
		<div class="main-bnr-two">
			<div class="swiper main-slider-2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="banner-inner">
							<div class="container-fluid">
								<div class="row ">
									<div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-12">
										<div class="banner-content">
											<div class="top-content">
												<h1 class="title wow fadeInUp" data-wow-delay="0.4s">Transform Your <span class="text1 text-primary">Body with me !</span> </h1>
												<p class="para-1 wow fadeInUp" data-wow-delay="0.6s">Start your Trainings </p>
												<!-- <p class="para-2 wow fadeInUp" data-wow-delay="0.8s"><span>Professional </span>Trainers</p> -->
												<!-- <a href="about-us.html" class="btn btn-skew  btn-lg btn-primary align-text-bottom wow fadeInUp m-b30" data-wow-delay="1.0s"><span class="skew-inner"><span class="text">Get Started</span></span></a> -->
											</div>
											<div class="bottom-content">
												<!-- <p class="para-1 wow fadeInUp" data-wow-delay="1.2s">Trail <span> Session</span></p> -->
												<p class="para-2 wow fadeInUp" data-wow-delay="1.4s">Free trail available</p>
											</div>
										</div>
										
									</div>
									<div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6 col-sm-12">
										<div class="banner-media">
											<img src="{% static 'images/banner1.jpg' %}" class="main-img" alt="">	
										</div>
									</div>
								</div>
							</div>
							<img class="shape1" src="{% static 'images/shape1.png' %}" alt="">
							<img class="shape2" src="{% static 'images/shape2.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="banner-inner">
							<div class="container-fluid">
								<div class="row ">
									<div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-12">
										<div class="banner-content">
											<div class="top-content">
												<h1 class="title wow fadeInUp" data-wow-delay="0.4s">Transform Your <span class="text1 text-primary">Body with me !</span> </h1>
												<p class="para-1 wow fadeInUp" data-wow-delay="0.6s">Start your Trainings </p>
												<!-- <p class="para-2 wow fadeInUp" data-wow-delay="0.8s"><span>Professional </span>Trainers</p> -->
												<!-- <a href="about-us.html" class="btn btn-skew  btn-lg btn-primary align-text-bottom wow fadeInUp m-b30" data-wow-delay="1.0s"><span class="skew-inner"><span class="text">Get Started</span></span></a> -->
											</div>
											<div class="bottom-content">
												<!-- <p class="para-1 wow fadeInUp" data-wow-delay="1.2s">Trail <span> Session</span></p> -->
												<p class="para-2 wow fadeInUp" data-wow-delay="1.4s">Free trail available</p>
											</div>
										</div>
										
									</div>
									<div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6 col-sm-12">
										<div class="banner-media">
											<img src="{% static 'images/img1_copy.jpg' %}" class="main-img" alt="">	
										</div>
									</div>
								</div>
							</div>
							<img class="shape1" src="{% static 'images/shape1.png' %}" alt="">
							<img class="shape2" src="{% static 'images/shape2.png' %}" alt="">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="banner-inner">
							<div class="container-fluid">
								<div class="row ">
									<div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-12">
										<div class="banner-content">
											<div class="top-content">
												<h1 class="title wow fadeInUp" data-wow-delay="0.4s">Transform Your <span class="text1 text-primary">Body with me !</span> </h1>
												<p class="para-1 wow fadeInUp" data-wow-delay="0.6s">Start your Trainings </p>
												<!-- <p class="para-2 wow fadeInUp" data-wow-delay="0.8s"><span>Professional </span>Trainers</p> -->
												<!-- <a href="about-us.html" class="btn btn-skew  btn-lg btn-primary align-text-bottom wow fadeInUp m-b30" data-wow-delay="1.0s"><span class="skew-inner"><span class="text">Get Started</span></span></a> -->
											</div>
											<div class="bottom-content">
												<!-- <p class="para-1 wow fadeInUp" data-wow-delay="1.2s">Trail <span> Session</span></p> -->
												<p class="para-2 wow fadeInUp" data-wow-delay="1.4s">Free trail available</p>
											</div>
										</div>
										
									</div>
									<div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6 col-sm-12">
										<div class="banner-media">
											<img src="{% static 'images/img3.jpg' %}" class="main-img" alt="">	
										</div>
									</div>
								</div>
							</div>
							<img class="shape1" src="{% static 'images/shape1.png' %}" alt="">
							<img class="shape2" src="{% static 'images/shape2.png' %}" alt="">
						</div>
					</div>
					<!-- <div class="swiper-slide">
						<div class="banner-inner">
							<div class="container-fluid">
								<div class="row ">
									<div class="col-xxl-5 col-xl-5 col-lg-5 col-md-6 col-sm-12">
										<div class="banner-content">
											<div class="top-content">
												<h1 class="title wow fadeInUp" data-wow-delay="0.4s">We Stay Fit With Best <span class="text1 text-primary">Gym</span></h1>
												<p class="para-1 wow fadeInUp" data-wow-delay="0.6s">Start your Trainings With our</p>
												<p class="para-2 wow fadeInUp" data-wow-delay="0.8s"><span>Professional </span>Trainers</p>
												<a href="about-us.html" class="btn btn-skew  btn-lg btn-primary align-text-bottom wow fadeInUp m-b30" data-wow-delay="1.0s"><span class="skew-inner"><span class="text">Get Started</span></span></a>
											</div>
											<div class="bottom-content">
												<p class="para-1 wow fadeInUp" data-wow-delay="1.2s">Trail <span> Session</span></p>
												<p class="para-2 wow fadeInUp" data-wow-delay="1.4s">Free trail with pro trainers</p>
											</div>
										</div>
									</div>
									<div class="col-xxl-7 col-xl-7 col-lg-7 col-md-6 col-sm-12">
										<div class="banner-media">
											<img src="{% static 'images/slider/pic3.png' %}" class="main-img" alt="">	
										</div>
									</div>
								</div>
							</div>
							<img class="shape1" src="{% static 'images/shape1.png' %}" alt="">
							<img class="shape2" src="{% static 'images/shape2.png' %}" alt="">
						</div>
					</div> -->
				</div>
				<div class="main-btn">
					<div class="main-btn-prev btn-prev"><i class="fa-solid fa-chevron-left"></i></div>
					<div class="main-btn-next btn-next"><i class="fa-solid fa-chevron-right"></i></div>
				</div>
			</div>
		</div>
		
		<div class="section-wrapper1 bg-parallax" style="background-image: url({% static 'images/bg5.png' %});">
			<!-- Our Services -->
			<section class="content-inner">
				<div class="container">
					<div class="section-head style-2 text-center">
						<h2 class="title">Our Programs</h2>
					</div>
					<div class="row">
						{% for program in programs %}
						<div class="col-xl-6 col-lg-6">
							<div class="dz-card style-1 blog-half m-b30 overlay-shine wow fadeInUp" data-wow-delay="0.1s">
								<div class="dz-media">
									<a><img src="{{ program.heading_photo.url }}" alt="/"></a>
								</div>
								<div class="dz-info">
									<h4 class="dz-title"><a href="{% url 'program-detail' pk=program.pk %}">{{ program.name}}</a></h4>
									<p> {{ program.heading_text|truncatechars:80 }} </p>
									<a class="read-btn btn-link" href="{% url 'program-detail' pk=program.pk %}">Read More</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<!-- Our Services -->
			</section>
		
			<section class="about-bx1">
				<!-- About Services -->
				<div class="container">
					<div class="row align-items-center ">
						<div class="col-lg-6">
							<div class="dz-media p-r20">
								<div class="image-box wow fadeInUp" data-wow-delay="0.4s">
									<!-- <img src="assets/images/about/pic5.jpg" alt=""> -->
									<div class="tag"><h2 class="counter">10</h2><h5>year experience</h5></div>
									<div class="split-box h-100">
										<video autoplay="" loop="" muted="" id="about-video">
											<source src="{% static 'media/video1.mp4' %}" type="video/mp4">
										</video>
									</div>
								</div>
								<div class="split-box">
									<img src="{% static 'images/img5.jpg' %}" alt="" class="wow fadeInUp" data-wow-delay="0.6s">
								</div>
							</div>
						</div>
						<div class="col-lg-6 about-content m-lg-t40 wow fadeInUp" data-wow-delay="0.6s">
							<h3 class="sub-title wow fadeInUp" data-wow-delay="0.8s">WAKE UP IT’S TIME</h3>
							<h2 class="title m-0 wow fadeInUp" data-wow-delay="1.0s">To Take The <span class="text-primary">Action</span></h2>
							<p class="description m-b10 wow fadeInUp" data-wow-delay="1.2s">Ready to unlock your full potential ?</p>
							<p class="wow fadeInUp" data-wow-delay="1.4s">Whether you're looking to build muscle, improve endurance, or simply lead a healthier lifestyle, together, we'll create a personalized training program tailored to your needs and aspirations.</p>
							<ul class="pr-list list-italic m-t30 m-b35 wow fadeInUp" data-wow-delay="1.6s">
								<li><i class="flaticon-check-mark"></i>Calisthenics</li>
                                <li><i class="flaticon-check-mark"></i>Functional Training</li>
								<li><i class="flaticon-check-mark"></i>Mobility & Flexibility</li>
								<li><i class="flaticon-check-mark"></i>Skill & Tricks </li>
								<li><i class="flaticon-check-mark"></i>Body Building</li>
							</ul>
							<div class="wow fadeInUp" data-wow-delay="1.8s">
								<a href="{% url 'contact-us' %}" class="btn btn-skew btn-lg btn-primary">
									<span class="skew-inner">
										<span class="text">Get Started</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- About Services -->
		</div>

		<!-- About Us -->
		<section class="content-inner-1 membership-box bg-parallax" style="background-image: url({% static 'images/bg5.png' %});background-position: center;">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="section-head style-2 m-0">
							<h2 class="title">Our Membership</h2>
						</div>
						<ul class="nav nav-tabs style-1 dark m-b20">
							<li class="nav-item">
								<a class="nav-link active" href="#tab-mission" data-bs-toggle="tab" data-bs-target="#tabMission">
									<span>Our Mission</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#tab-vision" data-bs-toggle="tab" data-bs-target="#tabVision">
									<span>Our Vision</span>
								</a>
							</li>
						</ul>
						<div class="tab-content m-b30" id="myTabContent">
							<div class="tab-pane fade show active" id="tabMission" role="tabpanel">
								<div class="content font-18">
									<p>Empower individuals to unlock their true potential.</p>
								</div>
								<ul class="pr-list list-italic m-b65 m-sm-b30 m-lg-b50">
									<li><i class="flaticon-check-mark"></i>Personal Training</li>
									<li><i class="flaticon-check-mark"></i>Body Building</li>
									<li><i class="flaticon-check-mark"></i>Functional Training</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="tabVision" role="tabpanel">
								<div class="content font-18">
									<p>Harness the power of bodyweight training to unlock the limitless potential.</p>
								</div>
								<ul class="pr-list list-italic m-b65 m-sm-b30 m-lg-b50">
									<li><i class="flaticon-check-mark"></i>Calisthenics</li>
									<li><i class="flaticon-check-mark"></i>Body weight</li>
									<li><i class="flaticon-check-mark"></i>skills and tricks</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- About Us -->
		
		<!-- Testimonials-->
		<section class="content-inner-3 testimonial-wrapper1">
			<div class="container">
				<div class="section-head style-2 text-center">
					<h2 class="title m-b5 wow fadeInUp" data-wow-delay="0.4s">Testimonials</h2>
				</div>
			</div>
			<div class="swiper testimonial-swiper-1">
				<div class="swiper-wrapper">
					<div class="swiper-slide wow fadeInUp" data-wow-delay="0.2s">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<i class="quotes-icon flaticon-quote"></i>
								<div class="testimonial-text m-sm-b20 m-b30">
									<p>One of the best thing happening in Vadodara “SBA CALISTHENICS PARK“.
										I’m never doing any skill related workouts and then I’m starting my calisthenics journey with SBA.
										I have joined SBA one month back and I noticed changes in my body. Pankaj sir specially attention to everybody in group training with friendly nature.
										Amazing place to learn Calisthenics.</p>
								</div>
							</div>
							<div class="testimonial-details">
								<div class="d-flex align-items-center">
									<div class="info">
										<h4 class="testimonial-name">Bhavik Mahant</h4> 
									</div>
								</div>
								<ul class="testimonial-rating">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide wow fadeInUp" data-wow-delay="0.4s">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<i class="quotes-icon flaticon-quote"></i>
								<div class="testimonial-text m-sm-b20 m-b30">
									<p> Pankaj sir brings an impressive concept of an outdoor workout (Calisthenics) during sunrise and sunset hours. To all the females out there, it is a super fun strength building concept for all of you.
										Our trainer-Pankaj sir, is extremely dedicated and committed, keeps himself updated practically as well as theoretically. He personally monitors, trains and pushes us to new limits each week by bringing in new concepts of training.
										Highly recommended
										</p>
								</div>
							</div>
							<div class="testimonial-details">
								<div class="d-flex align-items-center">
									<div class="info">
										<h4 class="testimonial-name">Janhvi Shah</h4> 
									</div>
								</div>
								<ul class="testimonial-rating">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="swiper-slide wow fadeInUp" data-wow-delay="0.8s">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<i class="quotes-icon flaticon-quote"></i>
								<div class="testimonial-text m-sm-b20 m-b30">
									<p>I am associated with him last 4 months. And I have lost 10 kg in 110 days. Earlier I could barely do 2-3 push-ups, 
										now I can do 20-25. And I am also learning calisthenics. Now I can also do things like elbow lever, frog stand with ease.
										Pankaj Pasi sir is a very good coach for calisthenics. Before this, I had changed 2 gyms but it did not make any difference in my weight loss, 
										I was able to do this with sir's diet and exercise.</p>
								</div>
							</div>
							<div class="testimonial-details">
								<div class="d-flex align-items-center">
									<div class="info">
										<h4 class="testimonial-name">Aryan Dave</h4> 
									</div>
								</div>
								<ul class="testimonial-rating">
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
									<li><i class="fa-solid fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix justify-content-center d-flex m-sm-t30 m-t50">
					<div class="num-pagination">
						<div class="swiper-pagination dz-swiper-pagination1 style-2 justify-content-center"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonials-->
		
	</div>
	

{% include 'footer.html' %}